@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    background-color: antiquewhite;
}
.title{
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
.b_title{
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
}
#input{
    /* position: relative; */
    display: block;
    margin : auto;
    width: 150px;
    padding: 1px 2px;
    font-size: 40px; 
    border-radius: 10px;
    outline: none;
}
.btn{
    display: flex;
    justify-content: center;
    margin: 32px ;
}
button{
    height: 3rem;
    width: 4rem;
    border-radius: 1rem;
    background-color: rgb(173, 255, 228);
}
#set{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    /* margin: 5rem; */
    margin-left: 9%;
    margin-right: 4%;
    font-family: 'Nunito', sans-serif;
}
#chartDiv{
    width:100%; height:300px; margin:40px auto;
}

@media screen and (max-width : 800px) {
    
    #set{
        position: relative;
        display: flex;
        align-content: center;
        justify-content: space-between;
        /* margin: 5rem; */
        margin-left: 20px;
        margin-right: -4px;
        font-family: 'Nunito', sans-serif;
        font-size: 10px;
    }
    #set h1{
        padding: 9px;
    }
    #chartDiv{
        width:100%; height:300px; margin:20px 0px;
    }
}

